.swapi-chart-wrapper {
  border: none;
  max-width: 500px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  .bars td {
    width: 150px;
    border: none;
    vertical-align: bottom;
    height: 400px;
    text-align: center;
  }

  .bar-color {
    background: rgba(37, 37, 37, 0.8);
  }
}
