* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins-Regular;
  color: $clrBlack;
}

body {
  overflow: hidden;
  background: $clrSmokeWhite;
  background-size: cover;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: capitalize;
  font-family: Poppins-Regular;
}

li {
  list-style: none;
  font-family: Poppins-Regular;
}

a {
  color: inherit;
  text-decoration: none;
}

.scroller {
  &::-webkit-scrollbar {
    width: 10px;

    @include for-mobile-layout {
      width: 0;
    }
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    // margin: 14px;
    background-color: $clrBlack;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $clrYellow;
    border-radius: 5px;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 00.5rem;
  h1 {
    font-family: Star-Wars;
  }
}
